@charset "UTF-8";
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    height: 1982px;
  }
}

@media screen and (min-width: 992px) {
  body {
    height: 1982px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
    width: 202px;
    margin-bottom: 0;
    padding-top: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
    width: 202px;
    margin-bottom: 0;
    padding-top: 24px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  h1 p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  h1 p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 15px 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 15px 28px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 15px 28px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 17px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  h4 span {
    padding-left: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h4 span {
    padding-left: 7px;
  }
}

@media screen and (min-width: 992px) {
  h4 span {
    padding-left: 7px;
  }
}

@media screen and (max-width: 767px) {
  a {
    text-decoration: none;
    color: #000000;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  a {
    text-decoration: none;
    color: #000000;
  }
}

@media screen and (min-width: 992px) {
  a {
    text-decoration: none;
    color: #000000;
  }
}

.header {
  /* Cette partie correspond aux éléments du header de la page 2 à la page 5*/
}

@media screen and (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F6F6F6;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F6F6F6;
  }
}

@media screen and (min-width: 992px) {
  .header {
    background-color: #F6F6F6;
  }
}

@media screen and (max-width: 767px) {
  .header__heading {
    background-color: #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 276px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__heading {
    background-color: #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 276px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .header__heading {
    background-color: #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 276px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header__heading p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__heading p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  .header__heading p {
    font-size: 16px;
    font-weight: 100;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    background-color: #F6F6F6;
    border-bottom: 1px solid #EAEAEA;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo {
    background-color: #F6F6F6;
    border-bottom: 1px solid #EAEAEA;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    background-color: #F6F6F6;
    border-bottom: 1px solid #EAEAEA;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header__logo--size {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo--size {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo--size {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #EAEAEA;
    height: 46px;
    -webkit-box-shadow: -6px 4px 3px 4px grey;
            box-shadow: -6px 4px 3px 4px grey;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #EAEAEA;
    height: 46px;
    -webkit-box-shadow: -6px 4px 3px 4px grey;
            box-shadow: -6px 4px 3px 4px grey;
  }
}

@media screen and (min-width: 992px) {
  .header__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #EAEAEA;
    height: 46px;
    -webkit-box-shadow: -6px 4px 3px 4px grey;
            box-shadow: -6px 4px 3px 4px grey;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__menu {
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .header__menu {
    height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 62px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F6F6F6;
    padding-left: 14%;
    padding-right: 28%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 65px;
    padding-left: 14%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 36%;
    background-color: #F6F6F6;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    background-color: #F6F6F6;
  }
}

@media screen and (max-width: 767px) {
  .header__logo2 .logo2 {
    width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo2 .logo2 {
    height: 38px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo2 i {
    font-size: 16px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo2 i {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo2 i {
    font-size: 22px;
    padding-left: 12%;
  }
}

@media screen and (max-width: 767px) {
  .header__photoresto {
    height: 284px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__photoresto {
    height: 460px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 992px) {
  .header__photoresto {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    height: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    height: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    height: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    width: 107%;
    height: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 77%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    border: 1px solid transparent;
    -webkit-box-shadow: 2px 4px 9px 2px #eaeaea;
            box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F6F6F6;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 78%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border: 1px solid transparent;
    -webkit-box-shadow: 2px 4px 9px 2px #eaeaea;
            box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F6F6F6;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 78%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border: 1px solid transparent;
    -webkit-box-shadow: 2px 4px 9px 2px #eaeaea;
            box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F6F6F6;
  }
}

@media screen and (max-width: 767px) {
  .container i {
    padding-left: 20px;
    color: grey;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: grey;
    padding-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .container i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: grey;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container__choice {
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container__choice {
    padding-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .container__choice {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page {
    border: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
    width: 96%;
    padding-top: 0px;
    -webkit-box-shadow: -5px 6px 9px #F6F6F6;
            box-shadow: -5px 6px 9px #F6F6F6;
    overflow: hidden;
    border-radius: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page {
    border: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    width: 98%;
    -webkit-box-shadow: -5px 6px 9px #F6F6F6;
            box-shadow: -5px 6px 9px #F6F6F6;
    border-radius: 22px;
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page {
    border: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    width: 98%;
    padding-top: 0px;
    -webkit-box-shadow: -5px 6px 9px #F6F6F6;
            box-shadow: -5px 6px 9px #F6F6F6;
    border-radius: 22px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page .detail_plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .detail_plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-top: 11px;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .detail_plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-top: 27px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page p {
    margin-top: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page p {
    margin: 0;
    font-weight: 100;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page p {
    margin: 0;
    font-weight: 100;
    margin-top: 6px;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page .prix {
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .prix {
    font-weight: bold;
    padding-right: 10px;
    padding-top: 38px;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .prix {
    font-weight: bold;
    padding-right: 10px;
    padding-top: 38px;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page .validate {
    width: 95px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #99e2d0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .validate {
    width: 114px;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #99E2D0;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .validate {
    width: 114px;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #99E2D0;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page .validate .check {
    position: relative;
    height: 28px;
    width: 28px;
    border-radius: 59%;
    background-color: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .validate .check {
    position: relative;
    height: 33px;
    width: 33px;
    border-radius: 59%;
    background-color: white;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .validate .check {
    position: relative;
    height: 33px;
    width: 33px;
    border-radius: 59%;
    background-color: white;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page .validate i {
    right: -8px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1 px solid transparent;
    height: 100%;
    width: 100%;
    color: #99e2d0;
    font-size: 14px;
    top: 6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .validate i {
    left: 10px;
    top: 7px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1 px solid transparent;
    height: 100%;
    width: 100%;
    color: #99E2D0;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .validate i {
    left: 10px;
    top: 8px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1 px solid transparent;
    height: 100%;
    width: 100%;
    color: #99E2D0;
  }
}

/*Début de l'implementation du main*/
.main {
  /* Cette partie correspond aux élements de la balise main de la page 2 à la page 5*/
}

@media screen and (max-width: 767px) {
  .main {
    height: 1346px;
    background-color: #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F6F6F6;
  }
}

@media screen and (min-width: 992px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F6F6F6;
  }
}

@media screen and (max-width: 767px) {
  .main__frame-card {
    width: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 28px;
    height: 271px;
    margin-bottom: 24px;
    border-radius: 22px 22px 22px 22px;
    -webkit-box-shadow: 0px -1px 11px 0px gray;
            box-shadow: 0px -1px 11px 0px gray;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__frame-card {
    width: 76%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 72px;
    height: 271px;
    margin-bottom: 24px;
    border-radius: 22px 22px 22px 22px;
    -webkit-box-shadow: 0px -1px 11px 0px gray;
            box-shadow: 0px -1px 11px 0px gray;
  }
}

@media screen and (min-width: 992px) {
  .main__frame-card {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 28px;
    height: 271px;
    margin-bottom: 24px;
    border-radius: 22px 22px 22px 22px;
    -webkit-box-shadow: 0px -1px 11px 0px gray;
            box-shadow: 0px -1px 11px 0px gray;
  }
}

@media screen and (max-width: 767px) {
  .main.main_next_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 1500px;
    border-radius: 50px 50px 0 0px;
    font-size: 29px;
    margin-top: -27px;
    background-color: #F6F6F6;
    margin-top: -45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main.main_next_page {
    height: 79%;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -86px;
  }
}

@media screen and (min-width: 992px) {
  .main.main_next_page {
    height: 89%;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -86px;
  }
}

@media screen and (max-width: 767px) {
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-family: "Shrikhand", cursive;
    background-color: #F6F6F6;
    border-radius: 50px 50px 0 0;
    margin-top: 8px;
    background-color: #F6F6F6;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 19px;
    font-family: Roboto, sans-serif;
    height: 6%;
    background-color: #F6F6F6;
    border-radius: 60px 60px 0 0;
    margin-top: -47px;
  }
}

@media screen and (min-width: 992px) {
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 19px;
    font-family: Roboto, sans-serif;
    height: 6%;
    background-color: #F6F6F6;
    border-radius: 74px 74px 0 0;
    margin-top: -47px;
  }
}

@media screen and (max-width: 767px) {
  .main__title .title {
    font-family: "Shrikhand";
    font-size: 28px;
    width: 83%;
    margin-bottom: 0;
    padding-top: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__title .title {
    font-family: "Shrikhand";
    width: 68%;
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  .main__title .title {
    font-family: "Shrikhand";
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) {
  .main__title i {
    font-size: 26px;
    padding-left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .main .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F6F6F6;
    height: 36%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section {
    height: 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
    background-color: #F6F6F6;
  }
}

@media screen and (min-width: 992px) {
  .main .section {
    height: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 16px;
    background-color: #F6F6F6;
  }
}

@media screen and (max-width: 767px) {
  .main .section__composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section__composition {
    height: 28%;
  }
}

@media screen and (min-width: 992px) {
  .main .section__composition {
    height: 28%;
  }
}

@media screen and (max-width: 767px) {
  .main .section__composition .composition__rectangle {
    height: 4px;
    width: 46px;
    background-color: #99E2D0;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section__composition .composition__rectangle {
    height: 4px;
    width: 46px;
    background-color: #99E2D0;
    margin-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .main .section__composition .composition__rectangle {
    height: 4px;
    width: 46px;
    background-color: #99E2D0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .main .section h2 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-left: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section h2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .main .section h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .main .section__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 10px;
    height: 63%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section__bloc {
    height: 79%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .main .section__bloc {
    height: 64%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .main form {
    text-align: center;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main form {
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .main form {
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #353535;
    height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #353535;
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #353535;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    padding-left: 20px;
    height: 33px;
    padding-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    padding-left: 20px;
    height: 17px;
    padding-top: 5px;
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    padding-left: 20px;
    height: 17px;
    padding-top: 5px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: column;
    height: 38%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 64%;
    padding-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 64%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    color: white;
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    color: white;
    padding-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    color: white;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: #fff;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-link--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: #fff;
    padding-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: #fff;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-link--flex i {
    padding-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link--flex i {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .photo {
    height: 69%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .photo {
    height: 69%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  .photo {
    height: 69%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .photo__card {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 22px 22px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .photo__card {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 22px 22px 0 0;
  }
}

@media screen and (min-width: 992px) {
  .photo__card {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 22px 22px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .photo__nouveau {
    position: absolute;
    left: 78%;
    top: 12px;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    padding: 5px 10px;
    font-size: 13px;
    color: #008766;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .photo__nouveau {
    position: absolute;
    left: 78%;
    top: 12px;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    padding: 5px 10px;
    font-size: 13px;
    color: #008766;
    border-radius: 2px;
  }
}

@media screen and (min-width: 992px) {
  .photo__nouveau {
    position: absolute;
    left: 88%;
    top: 12px;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    padding: 8px 14px;
    font-size: 15px;
    color: #008766;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .presentation {
    height: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation {
    height: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .presentation {
    height: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .presentation__text {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__text {
    padding-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .presentation__text {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .presentation p {
    margin-top: 6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation p {
    margin-top: 6px;
  }
}

@media screen and (min-width: 992px) {
  .presentation p {
    margin-top: 6px;
  }
}

@media screen and (max-width: 767px) {
  .presentation i {
    font-size: 22px;
    padding-top: 25px;
    width: 12%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation i {
    font-size: 22px;
    padding-top: 25px;
    width: 12%;
  }
}

@media screen and (min-width: 992px) {
  .presentation i {
    font-size: 22px;
    padding-top: 25px;
    width: 12%;
  }
}

@media screen and (max-width: 767px) {
  #input {
    border-color: transparent;
    background-color: #EAEAEA;
    height: 20px;
    padding-left: 16px;
    color: #000000;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #input {
    border-color: transparent;
    background-color: #EAEAEA;
    height: 20px;
    padding-left: 16px;
    color: #000000;
  }
}

@media screen and (min-width: 992px) {
  #input {
    border-color: transparent;
    background-color: #EAEAEA;
    height: 20px;
    padding-left: 16px;
    color: #000000;
  }
}

/*Début de l'implémentation des boutons version mobile*/
@media screen and (max-width: 767px) {
  #btn {
    border: 1px solid transparent;
    width: 168px;
    padding: 12px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #btn {
    border: 1px solid transparent;
    width: 168px;
    padding: 12px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  #btn {
    border: 1px solid transparent;
    width: 168px;
    padding: 12px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .commander {
    border: 1px solid #EAEAEA;
    width: 168px;
    padding: 14px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
            box-shadow: -5px 6px 9px 3px #e1dbdb;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .commander {
    border: 1px solid #EAEAEA;
    width: 168px;
    padding: 14px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
            box-shadow: -5px 6px 9px 3px #e1dbdb;
    margin-bottom: 50px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 992px) {
  .commander {
    border: 1px solid #EAEAEA;
    width: 168px;
    padding: 14px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
            box-shadow: -5px 6px 9px 3px #e1dbdb;
    margin-bottom: 50px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 14px;
    background-color: #9356DC;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: 6%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 14px;
    background-color: #9356DC;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: 8%;
  }
}

@media screen and (min-width: 992px) {
  .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 14px;
    background-color: #9356DC;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: 9%;
  }
}
/*# sourceMappingURL=main.css.map */