@charset "UTF-8";
/*Breakpoints - Media queries*/
/*Règles générales applicables au body*/
.body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .body {
    height: 1982px;
  }
}

/*keyframes à établir dans le fichier de base du fichier CSS*/
@-webkit-keyframes progress-validate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes progress-validate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-outl {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-outl {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade-in2 {
  0% {
    opacity: 0;
    margin-top: 35px;
  }
  90% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
    margin-top: 35px;
  }
  90% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
    width: 202px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
    width: 202px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  h1 p {
    font-size: 16px;
    font-weight: 100;
  }
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 15px 28px;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 17px;
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  h3 p {
    font-weight: 100;
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  h4 span {
    padding-left: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  h4 span {
    padding-left: 7px;
  }
}

@media screen and (min-width: 992px) {
  h4 span {
    padding-left: 7px;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

/*Header*/
/*Animations au chargement des pages situées dans le Header*/
.loader__conteneur {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  -webkit-animation: fade-outl 3s ease-in-out forwards;
  animation: fade-outl 3s ease-in-out forwards;
}

.chargement {
  background-position: center;
  border: 10px solid transparent;
  width: 150px;
  height: 150px;
  margin: auto;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #99e2d0;
  border-radius: 50%;
  position: fixed;
  -webkit-animation: fade-out 3s linear backwards, spin 3s linear infinite;
  animation: fade-out 3s linear backwards, spin 3s linear infinite;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 992px) {
  .header {
    background-color: #f6f6f6;
  }
}

@media screen and (max-width: 767px) {
  .header__heading {
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 276px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__heading {
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 276px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .header__heading {
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header__heading p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__heading p {
    font-size: 16px;
    font-weight: 100;
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  .header__heading p {
    font-size: 16px;
    font-weight: 100;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo {
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
  }
}

.header__logo--size {
  width: 150px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #eaeaea;
  height: 46px;
  -webkit-box-shadow: -6px 4px 3px 4px grey;
  box-shadow: -6px 4px 3px 4px grey;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
  }
}

@media screen and (min-width: 992px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f6f6f6;
    padding-left: 14%;
    width: 52%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding-left: 14%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 992px) {
  .header__logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    background-color: #f6f6f6;
    width: 62%;
  }
}

@media screen and (max-width: 767px) {
  .header__logo2 .logo2 {
    width: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo2 .logo2 {
    width: 194px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo2 .logo2 {
    width: 194px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo2 i {
    font-size: 16px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo2 i {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo2 i {
    font-size: 22px;
    padding-left: 150px;
  }
}

@media screen and (max-width: 767px) {
  .header__photoresto {
    height: 284px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__photoresto {
    height: 460px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (min-width: 992px) {
  .header__photoresto {
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}

/*Navigation page d'accueil (Fonctionnement et Footer)*/
@media screen and (max-width: 767px) {
  .nav {
    -webkit-animation: fade-in2 3s;
    animation: fade-in2 3s;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    -webkit-animation: fade-in2 3s;
    animation: fade-in2 3s;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    height: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    height: 57%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    margin-left: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

/*Conteneur relatif à la page d'accueil*/
.container {
  /*
  &:active {
    @include mobile {
      background: #e4d5f6;
    }
    i {
      color: $color-primary;
    }
  }
  */
}

@media screen and (max-width: 767px) {
  .container {
    width: 77%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    border: 1px solid transparent;
    -webkit-box-shadow: 2px 4px 9px 2px #eaeaea;
    box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 22px;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 78%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: 1px solid transparent;
    -webkit-box-shadow: 2px 4px 9px 2px #eaeaea;
    box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f6f6f6;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 22px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

@media screen and (min-width: 992px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    -webkit-box-shadow: 2px 4px 9px 2px #eaeaea;
    box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f6f6f6;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.container:hover,
.container:active {
  background: #e4d5f6;
}

.container:hover i,
.container:active i {
  color: #9356dc;
}

@media screen and (max-width: 767px) {
  .container i {
    padding-left: 38px;
    color: grey;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: grey;
    padding-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .container i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: grey;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container__choice {
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container__choice {
    padding-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .container__choice {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page {
    border: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    width: 96%;
    padding-top: 0px;
    -webkit-box-shadow: 1px 8px 18px #eaeaea;
    box-shadow: 1px 8px 18px #eaeaea;
    overflow: hidden;
    border-radius: 22px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page {
    border: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    width: 98%;
    -webkit-box-shadow: 1px 8px 18px #eaeaea;
    box-shadow: 1px 8px 18px #eaeaea;
    border-radius: 22px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page {
    border: 1px solid #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    width: 32%;
    padding-top: 0px;
    -webkit-box-shadow: 1px 8px 18px #eaeaea;
    box-shadow: 1px 8px 18px #eaeaea;
    border-radius: 22px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.container_next_page:hover > .validate,
.container_next_page:active > .validate {
  -webkit-transform: translate(1);
  transform: translate(1);
  width: 110px;
}

.container_next_page:hover > .validate > .check,
.container_next_page:active > .validate > .check {
  left: 0px;
}

.container_next_page:hover > .validate i,
.container_next_page:active > .validate i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.container_next_page:hover .ellipsis,
.container_next_page:active .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

@media screen and (max-width: 767px) {
  .container_next_page .detail_plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .detail_plat {
    -webkit-animation: fade-in 700ms;
    animation: fade-in 700ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .detail_plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
  }
}

.container_next_page .toto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .container_next_page p {
    margin-top: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page p {
    margin: 0;
    font-weight: 100;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page p {
    margin: 0;
    font-weight: 100;
    margin-top: 6px;
  }
}

@media screen and (max-width: 767px) {
  .container_next_page .prix {
    font-weight: bold;
    padding-top: 34px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page .prix {
    font-weight: bold;
    padding-right: 10px;
    padding-top: 38px;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page .prix {
    font-weight: bold;
    padding-right: 10px;
    padding-top: 26px;
  }
}

.container_next_page .validate {
  width: 0px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #99e2d0;
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.container_next_page .check {
  position: relative;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 9px;
}

@media screen and (max-width: 767px) {
  .container_next_page i {
    position: absolute;
    color: #99e2d0;
    font-size: 14px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container_next_page i {
    color: #99e2d0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
  }
}

@media screen and (min-width: 992px) {
  .container_next_page i {
    position: absolute;
    color: #99e2d0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
  }
}

/*Début de l'implementation du main*/
@media screen and (max-width: 767px) {
  .main {
    height: 1346px;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 992px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 992px) {
  .main__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .main__flex .flex__bloc {
    width: 46%;
  }
}

@media screen and (max-width: 767px) {
  .main__frame-card {
    width: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 28px;
    height: 271px;
    margin-bottom: 24px;
    border-radius: 22px 22px 22px 22px;
    -webkit-box-shadow: 0px -1px 11px 0px gray;
    box-shadow: 0px -1px 11px 0px gray;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__frame-card {
    width: 84%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 72px;
    height: 271px;
    margin-bottom: 24px;
    border-radius: 22px 22px 22px 22px;
    -webkit-box-shadow: 0px -1px 11px 0px gray;
    box-shadow: 0px -1px 11px 0px gray;
  }
}

@media screen and (min-width: 992px) {
  .main__frame-card {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 28px;
    height: 271px;
    margin-bottom: 24px;
    border-radius: 22px 22px 22px 22px;
    -webkit-box-shadow: 0px -1px 11px 0px gray;
    box-shadow: 0px -1px 11px 0px gray;
  }
}

@media screen and (max-width: 767px) {
  .main.main_next_page {
    height: 1522px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 50px 50px 0 0px;
    font-size: 29px;
    margin-top: -27px;
    background-color: #f6f6f6;
    margin-top: -45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main.main_next_page {
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -66px;
  }
}

@media screen and (min-width: 992px) {
  .main.main_next_page {
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -66px;
  }
}

.main__title {
  /*Animation du coeur à coté du titre principal des pages 2 à 5*/
}

@media screen and (max-width: 767px) {
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-family: "Shrikhand", cursive;
    background-color: #f6f6f6;
    border-radius: 50px 50px 0 0;
    margin-top: 8px;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 19px;
    font-family: Roboto, sans-serif;
    background-color: #f6f6f6;
    border-radius: 60px 60px 0 0;
  }
}

@media screen and (min-width: 992px) {
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 19px;
    font-family: Roboto, sans-serif;
    background-color: #f6f6f6;
    border-radius: 74px 74px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .main__title .title {
    font-family: "Shrikhand";
    font-size: 26px;
    width: 77%;
    margin-bottom: 0;
    padding-top: 14px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main__title .title {
    font-family: "Shrikhand";
    width: 68%;
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .main__title .title {
    font-family: "Shrikhand";
    font-size: 32px;
    width: 71%;
  }
}

.main__title .title__icones {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__title i {
  font-size: 30px;
}

.main__title i.fas {
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff79da),
    to(#9256dc)
  );
  background: linear-gradient(to bottom right, #ff79da, #9256dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: -webkit-transform 1000ms 100ms ease-in-out;
  transition: -webkit-transform 1000ms 100ms ease-in-out;
  transition: transform 1000ms 100ms ease-in-out;
  transition: transform 1000ms 100ms ease-in-out,
    -webkit-transform 1000ms 100ms ease-in-out;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  left: 0;
}

.main__title i.fas:hover,
.main__title i.fas:active {
  opacity: 1;
  z-index: 2;
  left: -4px;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@media screen and (min-width: 992px) {
  .main__title i.fas {
    font-size: 26px;
    padding-left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .main .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 992px) {
  .main .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f6f6f6;
  }
}

@media screen and (max-width: 767px) {
  .main .section__composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .main .section__composition .composition__rectangle {
    height: 4px;
    width: 46px;
    background-color: #99e2d0;
    margin-left: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section__composition .composition__rectangle {
    height: 4px;
    width: 46px;
    background-color: #99e2d0;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .main .section__composition .composition__rectangle {
    height: 4px;
    width: 46px;
    background-color: #99e2d0;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main .section h2 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-left: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section h2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .main .section h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

.main .section__bloc {
  -webkit-animation: fade-in2 3s linear;
  animation: fade-in2 3s linear;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

@media screen and (max-width: 767px) {
  .main .section__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main .section__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .main .section__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.main .section__bloc.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*Footer*/
@media screen and (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #353535;
    height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #353535;
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #353535;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    padding-left: 20px;
    height: 33px;
    padding-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    padding-left: 20px;
    height: 17px;
    padding-top: 5px;
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    padding-left: 20px;
    height: 17px;
    padding-top: 5px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 38%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 64%;
    padding-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 64%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    color: white;
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    color: white;
    padding-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    color: white;
    padding-left: 20px;
  }
}

.nav-link--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #fff;
  padding-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-link--flex i {
    padding-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link--flex i {
    padding-right: 20px;
  }
}

.photo {
  height: 69%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.photo__card {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 22px 22px 0 0;
}

@media screen and (max-width: 767px) {
  .photo__nouveau {
    position: absolute;
    left: 72%;
    top: 12px;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    padding: 5px 10px;
    font-size: 13px;
    color: #008766;
    border-radius: 2px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .photo__nouveau {
    position: absolute;
    left: 78%;
    top: 12px;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    padding: 5px 10px;
    font-size: 13px;
    color: #008766;
    border-radius: 2px;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  .photo__nouveau {
    position: absolute;
    left: 77%;
    top: 12px;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    padding: 8px 14px;
    font-size: 15px;
    color: #008766;
    border-radius: 2px;
    font-weight: bold;
  }
}

.presentation {
  height: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*transition relative au coeur de la page principale*/
}

@media screen and (max-width: 767px) {
  .presentation__text {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__text {
    padding-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .presentation__text {
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.presentation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.presentation__icones {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .presentation p {
    margin-top: 6px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation p {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .presentation p {
    margin-bottom: 0;
    margin-top: 6px;
  }
}

.presentation i {
  font-size: 22px;
}

.presentation i.fas {
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff79da),
    to(#9256dc)
  );
  background: linear-gradient(to bottom right, #ff79da, #9256dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: -webkit-transform 1000ms 150ms ease-in-out;
  transition: -webkit-transform 1000ms 150ms ease-in-out;
  transition: transform 1000ms 150ms ease-in-out;
  transition: transform 1000ms 150ms ease-in-out,
    -webkit-transform 1000ms 150ms ease-in-out;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
  /*transition-delay: 150ms;*/
}

.presentation i.fas:hover,
.presentation i.fas:active {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#input {
  border-color: transparent;
  background-color: #eaeaea;
  height: 20px;
  padding-left: 16px;
  color: #000000;
}

/*Début de l'implémentation des boutons version mobile*/
#btn {
  cursor: pointer;
  border: 1px solid transparent;
  width: 190px;
  padding: 12px;
  border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  margin-top: 24px;
  font-weight: bold;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#ff79da),
    to(#9256dc)
  );
  background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
  color: #fff;
  -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
  box-shadow: -5px 6px 9px 3px #e1dbdb;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#btn:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff79da),
    to(#9256dc)
  );
  background-image: linear-gradient(#ff79da, #9256dc);
  -webkit-box-shadow: 1px 3px 6px grey;
  box-shadow: 1px 3px 6px grey;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

@media screen and (max-width: 767px) {
  .commander {
    border: 1px solid transparent;
    width: 190px;
    padding: 14px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    font-weight: bold;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
    box-shadow: -5px 6px 9px 3px #e1dbdb;
    margin-bottom: 80px;
  }
  .commander:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(#ff79da, #9256dc);
    -webkit-box-shadow: 1px 3px 6px grey;
    box-shadow: 1px 3px 6px grey;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .commander {
    border: 1px solid transparent;
    width: 190px;
    padding: 14px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    font-weight: bold;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
    box-shadow: -5px 6px 9px 3px #e1dbdb;
    margin-bottom: 50px;
    margin-top: 36px;
  }
  .commander:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(#ff79da, #9256dc);
    -webkit-box-shadow: 1px 3px 6px grey;
    box-shadow: 1px 3px 6px grey;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

@media screen and (min-width: 992px) {
  .commander {
    border: 1px solid transparent;
    width: 190px;
    padding: 14px;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    margin-top: 24px;
    font-weight: bold;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-shadow: -5px 6px 9px 3px #e1dbdb;
    box-shadow: -5px 6px 9px 3px #e1dbdb;
    margin-bottom: 50px;
    margin-top: 36px;
  }
  .commander:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(#ff79da, #9256dc);
    -webkit-box-shadow: 1px 3px 6px grey;
    box-shadow: 1px 3px 6px grey;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

@media screen and (max-width: 767px) {
  .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    background-color: #9356dc;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: 8%;
    top: 7px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    background-color: #9356dc;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: 8%;
    top: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    background-color: #9356dc;
    color: #fff;
    margin-left: 10px;
    position: absolute;
    left: -20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .conteneur {
    padding-bottom: 17px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .conteneur {
    padding-bottom: 17px;
  }
}

@media screen and (min-width: 992px) {
  .conteneur {
    padding-bottom: 17px;
  }
}

@media screen and (max-width: 767px) {
  .conteneur__contact {
    text-align: center;
    border: 1px solid #99e2d0;
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 18px;
    color: white;
    background-color: #99e2d0;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .conteneur__contact {
    text-align: center;
    border: 1px solid #99e2d0;
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 18px;
    color: white;
    background-color: #99e2d0;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  .conteneur__contact {
    text-align: center;
    border: 1px solid #99e2d0;
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 18px;
    color: white;
    background-color: #99e2d0;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .conteneur__label {
    padding-left: 10px;
    font-weight: bold;
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .conteneur__label {
    padding-left: 10px;
    font-weight: bold;
    color: black;
  }
}

@media screen and (min-width: 992px) {
  .conteneur__label {
    padding-left: 10px;
    font-weight: bold;
    color: black;
  }
}

@media screen and (max-width: 767px) {
  .conteneur__input {
    height: 54px;
    width: 96%;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .conteneur__input {
    height: 54px;
    width: 96%;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
  }
}

@media screen and (min-width: 992px) {
  .conteneur__input {
    height: 54px;
    width: 96%;
    margin-left: 5px;
    margin-bottom: 20px;
    border-radius: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
  }
}

@media screen and (max-width: 767px) {
  .conteneur #message {
    width: 96%;
    margin-left: 6px;
    margin-bottom: 20px;
    border-radius: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .conteneur #message {
    width: 96%;
    margin-left: 6px;
    margin-bottom: 20px;
    border-radius: 18px;
  }
}

@media screen and (min-width: 992px) {
  .conteneur #message {
    width: 96%;
    margin-left: 6px;
    margin-bottom: 20px;
    border-radius: 18px;
  }
}

@media screen and (max-width: 767px) {
  .conteneur #envoyer {
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
    border-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .conteneur #envoyer:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(#ff79da, #9256dc);
    -webkit-box-shadow: 1px 3px 6px grey;
    box-shadow: 1px 3px 6px grey;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .conteneur #envoyer {
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
    border-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .conteneur #envoyer:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(#ff79da, #9256dc);
    -webkit-box-shadow: 1px 3px 6px grey;
    box-shadow: 1px 3px 6px grey;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}

@media screen and (min-width: 992px) {
  .conteneur #envoyer {
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(to bottom right, #ff79da, #9256dc);
    border-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .conteneur #envoyer:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9256dc)
    );
    background-image: linear-gradient(#ff79da, #9256dc);
    -webkit-box-shadow: 1px 3px 6px grey;
    box-shadow: 1px 3px 6px grey;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
}
/*# sourceMappingURL=main.css.map */
