#btn {
  @include mobile {
    @include button(1px solid transparent, 12px);
    background-color: $color-secondary;
    color: $color-white;
  }
}

.commander {
  @include mobile {
    @include button(1px solid $color-accent, 14px);
    background-image: linear-gradient(
      to bottom right,
      $color-secondary,
      $color-primary
    );
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: -5px 6px 9px 3px #e1dbdb;
  }
}
