.circle {
  @include mobile {
    @include circle(20px);
    font-size: 14px;
    background-color: $color-primary;
    color: $color-white;
    margin-left: 10px;
    position: absolute;
    left: 8%;
    top: 7px;
    font-weight: bold;
  }
  @include tablet {
    @include circle(20px);
    font-size: 14px;
    background-color: $color-primary;
    color: $color-white;
    margin-left: 10px;
    position: absolute;
    left: 8%;
    top: 10px;
    font-weight: bold;
  }
  @include desktop {
    @include circle(20px);
    font-size: 14px;
    background-color: $color-primary;
    color: $color-white;
    margin-left: 10px;
    position: absolute;
    left: -20px;
    font-weight: bold;
  }
}
