.circle {
  @include mobile {
    @include circle(20px);
    font-size: 14px;
    background-color: $color-primary;
    color: $color-white;
    margin-left: 10px;
    position: absolute;
    left: 6%;
  }
  @include tablet {
    @include circle(20px);
    font-size: 14px;
    background-color: $color-primary;
    color: $color-white;
    margin-left: 10px;
    position: absolute;
    left: 8%;
  }
  @include desktop {
    @include circle(20px);
    font-size: 14px;
    background-color: $color-primary;
    color: $color-white;
    margin-left: 10px;
    position: absolute;
    left: 9%;
  }
}
