/*Règles générales applicables au body*/
.body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  @include tablet {
    height: 1982px;
  }
}

body {
  @include mobile {
    height: none;
    margin: 0;
  }
  @include tablet {
    height: none;
    margin: 0;
  }
  @include desktop {
    height: none;
    margin: 0;
  }
}

/*keyframes à établir dans le fichier de base du fichier CSS*/
@keyframes progress-validate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-outl {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  90% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
