.body {
  box-sizing: border-box;
  margin: 0;
  @include tablet {
    height: 1982px;
  }
  @include desktop {
    height: 1800px;
  }
}

body {
  @include mobile {
    height: none;
    margin: 0;
  }
  @include tablet {
    height: none;
    margin: 0;
  }
  @include desktop {
    height: none;
    margin: 0;
  }
}
