// Règles générales applicables à toutes les pages du site
.body {
  box-sizing: border-box;
  margin: 0;
  @include tablet {
    height: 1982px;
  }
  @include desktop {
    height: 1800px;
  }
}

body {
  @include mobile {
    height: none;
    margin: 0;
  }
  @include tablet {
    height: none;
    margin: 0;
  }
  @include desktop {
    height: none;
    margin: 0;
  }
}

// keyframes à établir dans le fichier de base du fichier CSS

@keyframes progress-validate {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
