@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin input {
  @include flexcenter;
  flex-direction: row;
  background-color: $color-accent;
}

@mixin circles {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 1px solid;
  text-align: center;
}
