@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin input {
  @include flexcenter;
  flex-direction: row;
  background-color: $color-accent;
}

@mixin circle($size) {
  border-radius: 50%;
  height: $size;
  width: $size;
  border: 1px solid transparent;
  text-align: center;
}

@mixin button($border, $padding) {
  border: $border;
  width: 190px;
  padding: $padding;
  border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  margin-top: 24px;
  font-weight: bold;
}

@mixin degraded {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 121, 218),
    rgb(146, 86, 220)
  );
  &:hover {
    background-image: linear-gradient(
      lighten(rgb(255, 121, 218), 5%) 0%,
      lighten(rgb(146, 86, 220), 5%) 100%
    );
    box-shadow: 1px 3px 6px grey;
  }
}
