$color-primary:  #9356DC; 
$color-secondary:  #FF79DA;  
$color-tertiary:  #99E2D0; 
$color-dominant:  #F6F6F6; 
$color-accent:  #EAEAEA; 
$color-footer:  #353535; 
$color-white:#fff; 
$color-black:#000000; 

$padding-top : 20px; 
$padding-bottom : 10px; 