/*Conteneur relatif à la page d'accueil*/
.container {
  @include mobile {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    border: 1px solid transparent;
    box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 14px;
    font-weight: bold;
    background-color: $color-dominant;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 22px;
    transition: all 100ms ease-in-out;
  }
  @include tablet {
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid transparent;
    box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 22px 22px 22px 22px;
    font-size: 16px;
    font-weight: bold;
    background-color: $color-dominant;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 22px;
    transition: all 1s ease;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: 2px 4px 9px 2px #eaeaea;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    background-color: $color-dominant;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s ease;
  }
  &:hover,
  &:active {
    background: #e4d5f6;
    i {
      color: $color-primary;
    }
  }
  /*
  &:active {
    @include mobile {
      background: #e4d5f6;
    }
    i {
      color: $color-primary;
    }
  }
  */

  i {
    @include mobile {
      padding-left: 38px;
      color: grey;
    }
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      color: grey;
      padding-left: 30px;
    }
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      color: grey;
      padding-left: 30px;
    }
  }
  &__choice {
    @include mobile {
      padding-left: 20px;
    }
    @include tablet {
      padding-left: 20px;
    }
    @include desktop {
      padding-left: 20px;
    }
  }
}
//Conteneurs relatifs au container des pages 2 à 5
.container_next_page {
  @include mobile {
    border: 1px solid #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-white;
    width: 96%;
    padding-top: 0px;
    box-shadow: 1px 8px 18px $color-accent;
    overflow: hidden;
    border-radius: 22px;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  @include tablet {
    border: 1px solid #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-white;
    width: 98%;
    box-shadow: 1px 8px 18px $color-accent;
    border-radius: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  @include desktop {
    border: 1px solid #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-white;
    width: 32%;
    padding-top: 0px;
    box-shadow: 1px 8px 18px $color-accent;
    border-radius: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  //Animation au hover du container
  &:hover,
  &:active {
    & > .validate {
      transform: translate(1);
      width: 110px;
      & > .check {
        left: 0px;
      }
      i {
        transform: rotate(360deg);
      }
    }
    .ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 150px;
    }
  }
  .detail_plat {
    @include mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 10px;
    }
    @include tablet {
      animation: fade-in 700ms;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 10px;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-left: 10px;
    }
  }
  .toto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    @include mobile {
      margin-top: 6px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 14px;
    }
    @include tablet {
      margin: 0;
      font-weight: 100;
    }
    @include desktop {
      margin: 0;
      font-weight: 100;
      margin-top: 6px;
    }
  }
  .prix {
    @include mobile {
      font-weight: bold;
      padding-top: 34px;
      padding-right: 10px;
    }
    @include tablet {
      font-weight: bold;
      padding-right: 10px;
      padding-top: 38px;
    }
    @include desktop {
      font-weight: bold;
      padding-right: 10px;
      padding-top: 26px;
    }
  }
  .validate {
    width: 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    transform: translate(0);
    transform-origin: right;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .check {
    position: relative;
    @include circle(26px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 9px;
  }
  i {
    @include mobile {
      position: absolute;
      color: $color-tertiary;
      font-size: 14px;
      transform: rotate(0deg);
      transition: transform 0.4s ease-in-out;
      transition-delay: 150ms;
    }
    @include tablet {
      color: $color-tertiary;
      transform: rotate(0deg);
      transition: transform 0.4s ease-in-out;
      transition-delay: 150ms;
    }
    @include desktop {
      position: absolute;
      color: $color-tertiary;
      transform: rotate(0deg);
      transition: transform 0.4s ease-in-out;
      transition-delay: 150ms;
    }
  }
}
