.footer {
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-footer;
    height: 180px;
  }
  &__logo {
    @include mobile {
      font-family: "Shrikhand", cursive;
      color: white;
      padding-left: 20px;
      height: 33px;
      padding-top: 5px;
    }
  }
  &__nav {
    @include mobile {
      @include flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 38%;
    }
  }
}

.nav-link {
  @include mobile {
    color: white;
    padding-left: 10px;
  }
  &--flex {
    @include mobile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      color: $color-white;
      padding-left: 20px;
    }
  }
}
