.header {
  @include mobile {
    @include flex;
    background-color: $color-dominant;
  }
  @include tablet {
    @include flex;
    background-color: $color-dominant;
  }
  @include desktop {
    background-color: $color-dominant;
  }
  &__heading {
    @include mobile {
      background-color: $color-dominant;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 276px;
      align-items: center;
      text-align: center;
    }
    @include tablet {
      background-color: $color-dominant;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 276px;
      align-items: center;
      text-align: center;
    }
    @include desktop {
      background-color: $color-dominant;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 276px;
      align-items: center;
      text-align: center;
    }
    p {
      @include mobile {
        font-size: 16px;
        font-weight: 100;
        width: 300px;
      }
      @include tablet {
        font-size: 16px;
        font-weight: 100;
        width: 300px;
      }
      @include desktop {
        font-size: 16px;
        font-weight: 100;
      }
    }
  }
  &__logo {
    @include mobile {
      background-color: $color-dominant;
      border-bottom: 1px solid $color-accent;
      text-align: center;
    }
    @include tablet {
      background-color: $color-dominant;
      border-bottom: 1px solid $color-accent;
      text-align: center;
    }
    @include desktop {
      background-color: $color-dominant;
      border-bottom: 1px solid $color-accent;
      text-align: center;
    }
  }
  &__logo--size {
    @include mobile {
      width: 150px;
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
    }
    @include tablet {
      width: 150px;
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
    }
    @include desktop {
      width: 150px;
      padding-top: $padding-top;
      padding-bottom: $padding-bottom;
    }
  }

  &__input {
    @include mobile {
      @include input;
      height: 46px;
      box-shadow: -6px 4px 3px 4px grey;
    }
    @include tablet {
      @include input;
      height: 46px;
      box-shadow: -6px 4px 3px 4px grey;
    }
    @include desktop {
      @include input;
      height: 46px;
      box-shadow: -6px 4px 3px 4px grey;
    }
  }
  &__menu {
    @include mobile {
      height: 430px;
      display: flex;
      flex-direction: column;
    }
    @include tablet {
      height: 430px;
      display: flex;
      flex-direction: column;
    }
    @include desktop {
      height: 430px;
      display: flex;
      flex-direction: column;
    }
  }
  /* Cette partie correspond aux éléments du header de la page 2 à la page 5*/
  &__logo2 {
    @include mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 60px;
      align-items: center;
      background-color: $color-dominant;
      padding-left: 14%;
      width: 52%;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      height: 60px;
      padding-left: 14%;
      align-items: center;
      width: 47%;
      background-color: $color-dominant;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: $color-dominant;
      width: 56%;
    }

    .logo2 {
      @include mobile {
        width: 150px;
      }
      @include tablet {
        width: 150px;
      }
      @include desktop {
        width: 150px;
      }
    }
    i {
      @include mobile {
        font-size: 16px;
        padding-right: 20px;
      }
      @include tablet {
        font-size: 22px;
      }
      @include desktop {
        font-size: 22px;
        padding-left: 150px;
      }
    }
  }
  &__photoresto {
    @include mobile {
      height: 284px;
      object-fit: cover;
    }
    @include tablet {
      height: 460px;
      object-fit: cover;
    }
    @include desktop {
      height: 500px;
      object-fit: cover;
      width: 100%;
    }
  }
}
