.main {
  @include mobile {
    height: 2000px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__frame-card {
    @include mobile {
      border: 1px solid red;
      width: 88%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 15px;
    }
  }
}
