.photo {
  @include mobile {
    height: 69%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @include tablet {
    height: 69%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @include desktop {
    height: 69%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__card {
    @include mobile {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 22px 22px 0 0;
    }
    @include tablet {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 22px 22px 0 0;
    }
    @include desktop {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 22px 22px 0 0;
    }
  }
  &__nouveau {
    @include mobile {
      position: absolute;
      left: 78%;
      top: 12px;
      border: 1px solid #99e2d0;
      background-color: #99e2d0;
      padding: 5px 10px;
      font-size: 13px;
      color: #008766;
      border-radius: 2px;
    }
    @include tablet {
      position: absolute;
      left: 78%;
      top: 12px;
      border: 1px solid #99e2d0;
      background-color: #99e2d0;
      padding: 5px 10px;
      font-size: 13px;
      color: #008766;
      border-radius: 2px;
    }
    @include desktop {
      position: absolute;
      left: 88%;
      top: 12px;
      border: 1px solid #99e2d0;
      background-color: #99e2d0;
      padding: 8px 14px;
      font-size: 15px;
      color: #008766;
      border-radius: 2px;
    }
  }
}
.presentation {
  @include mobile {
    height: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include tablet {
    height: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @include desktop {
    height: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__text {
    @include mobile {
      padding-left: 10px;
    }
    @include tablet {
      padding-left: 10px;
    }
    @include desktop {
      padding-left: 10px;
    }
  }

  p {
    @include mobile {
      margin-top: 6px;
    }
    @include tablet {
      margin-top: 6px;
    }
    @include desktop {
      margin-top: 6px;
    }
  }
  i {
    @include mobile {
      font-size: 22px;
      padding-top: 25px;
      width: 12%;
    }
    @include tablet {
      font-size: 22px;
      padding-top: 25px;
      width: 12%;
    }
    @include desktop {
      font-size: 22px;
      padding-top: 25px;
      width: 12%;
    }
  }
}
