.photo {
  height: 69%;
  display: flex;
  flex-direction: column;
  position: relative;
  &__card {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 22px 22px 0 0;
  }
  &__nouveau {
    @include mobile {
      position: absolute;
      left: 78%;
      top: 12px;
      border: 1px solid #99e2d0;
      background-color: #99e2d0;
      padding: 5px 10px;
      font-size: 13px;
      color: #008766;
      border-radius: 2px;
      font-weight: bold;
    }
    @include tablet {
      position: absolute;
      left: 78%;
      top: 12px;
      border: 1px solid #99e2d0;
      background-color: #99e2d0;
      padding: 5px 10px;
      font-size: 13px;
      color: #008766;
      border-radius: 2px;
      font-weight: bold;
    }
    @include desktop {
      position: absolute;
      left: 77%;
      top: 12px;
      border: 1px solid #99e2d0;
      background-color: #99e2d0;
      padding: 8px 14px;
      font-size: 15px;
      color: #008766;
      border-radius: 2px;
      font-weight: bold;
    }
  }
}
.presentation {
  height: 44%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__text {
    @include mobile {
      padding-left: 10px;
    }
    @include tablet {
      padding-left: 10px;
    }
    @include desktop {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__icones {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
  }

  p {
    margin-top: 6px;
  }
  /*transition relative au coeur de la page principale*/
  i {
    font-size: 22px;
    &.fas {
      opacity: 0;
      position: absolute;
      background: linear-gradient(
        to bottom right,
        rgb(255, 121, 218),
        rgb(146, 86, 220)
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      transition: transform 1000ms 150ms ease-in-out;
      transform-origin: center center;
      transform: scale(0.2);
      /*transition-delay: 150ms;*/
      &:hover,
      &:active {
        opacity: 1;
        z-index: 2;
        transform: scale(1.2);
      }
    }
  }
}
